{% set tag_name = "p" %}
{% if module.text_type %}
    {% set tag_name = module.text_type %}
{% endif %}

{% set text_alignment = "text-align: {{ module.style.textalignment_field }};" %}

{% if module.style.background_color.color %}
    {% set color = "color: rgba({{ module.style.background_color.color|convert_rgb }}, {{ module.style.background_color.opacity }});" %}
{% else %}
    {% set color = "color: inherit" %}
{% endif%}

{% if module.style.border_field %}
    {% set border = module.style.border_field.css %}
{% else %}
    {% set border = "border: none;" %}
{% endif%}

{% if module.style.spacing_field %}
    {% set spacing = module.style.spacing_field.css %}
{% else %}
    {% set spacing = "" %}
{% endif%}

{% set open_tag = "<{{tag_name}} style=\"{{spacing}}{{border}}{{color}}{{text_alignment}}\">" %}
{% set close_tag = "</{{tag_name}}>" %}
{{ open_tag }}
{% if module.text_field %}
    {{ module.text_field }}
{% endif %}
{{ close_tag }}